<?xml version="1.0" encoding="UTF-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jd.jdsdk">


    <application android:allowBackup="true">

        <!-- 直接回呼 -->
        <activity android:exported="true" android:name="com.kepler.jd.sdk.KeplerBackActivity" android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/> 
                <data android:scheme="sdkback581b75d36bd0443cb50b68ae316c7e93"/>
            </intent-filter>
        </activity>
    </application>



</manifest>
